Package: com.nickf.nownow
Name: NowNow
Depends: mobilesubstrate, libactivator, preferenceloader
Version: 1.0
Architecture: iphoneos-arm
Description: Google Now voice search everywhere
Maintainer: Nick Frey
Author: Nick Frey
Section: Tweaks
